@{
    ViewData["Title"] = "Principal";
}

@*cabecalho*@

@if (ViewBag.NomeProfessor == null)
{
    <a asp-controller="Login">Login</a>
}
else
{

    @*cadastrar turma*@
    <div class="mt-3 d-flex justify-content-end">
        <button class="border border-primary rounded p-2 text-primary bg-light" type="submit" data-bs-toggle="modal" data-bs-target="#cadastrarTurma">Cadastrar Turma</button>

    </div>

    @*titulo*@

    @*tabela*@

    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Nome da Turma</th>
                <th>Ações</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@turma.TurmaId</td>
                    <td>@turma.Nome</td>
                    <td>

                        <div style="display:flex">
                            <form asp-controller="Professor" , asp-action="ExcluirTurma" onsubmit="return confirm('Você tem certeza que deseja excluir essa turma?')">
                                
                                <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button type="submit">Excluir</button>
                            </form>
                            <form asp-controller="Atividade" , asp-action="Index" , asp-route-turmaId="@turma.TurmaId">
                                <input type="hidden" name="turmaId" value="@turma.TurmaId" />
                                <button type="submit">Visualizar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (TempData["Mensagem"] != null)
    {
        <p style="color:red">@TempData["Mensagem"]</p>
    }

    @*Codigo card*@

    <div class="modal" tabindex="-1" id="cadastrarTurma">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Cadastrar Turma</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Professor" asp-action="CadastrarTurma">
                    <div class="modal-body">

                        <label class="form-label"> Nome da Turma</label>
                        <input class="form-control" type="text" name="nomeTurma" placeholder="Nome" required />

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

